.footer{
  background-color: var(--COLOR_TERTIARY);
  width: 100%;
}
.footer-container{
  padding: 1rem 0;
  margin-left: 2rem;
  color: var(--WHITE);
}
.footer-rows-container{
  display: flex;
  gap: 9rem;
}
.contacts-box{
  margin-bottom: 1.5rem;
}

.row-title, .links-box span, .social-medias-links{
  margin-top: 0.5rem;
}
.social-medias-links{
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 768px){
  .footer-container{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }
  .footer-rows-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .row-title{
    margin-top: 1rem;
  }
  .links-box, .social-medias-links-box{
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 572px){
  .footer-container{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .social-medias-links{
    display: flex;
    justify-content: space-between;
  }
}
