@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
body {
  font-family: 'Lato', 'sans-serif';
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
h1{
  font-size: 1.4rem;
}
h2{
  font-size: 1.2rem;
}
p{
  font-size: 1.2rem;
}
span{
  font-size: 1rem;
  display: block;
}

:root{
  --COLOR_PRIMARY: #FD2D01;
  --COLOR_SECONDARY: #FFD7D7;
  --COLOR_TERTIARY: #4E5166;
  --WHITE: #fff;
  --LIGHT_GRAY: #eaeaea;
  --BLACK: #000;
  --LIGHT: #eeecec;
}

.danger{
  color: rgb(255, 0, 0);
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

@media screen and (max-width: 572px){
  .danger{
    font-weight: 500;
  }
}

