.posts{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.post{
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
  width: 65%;
  max-width: 650px;
}

@media screen and (max-width: 992px){
  .post{
    width: 90%;
  }
}
@media screen and (max-width: 572px){
  .post{
    width: 100%;
  }
}
