.add-post{
  min-height: 100vh;
  background-color: #eaeaea;
}
.add-post-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-post-form{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: auto;
  width: 650px;
  max-width: 650%;
  margin: 2rem 0;
  border: solid rgb(196, 196, 196) 1px;
  border-radius: 10px;
  padding: 15px;

  p{
    margin: 1rem 0 0.5rem 0;
    color: black;
    font-size: 1.1rem;
  }
  svg{
    font-size: 1.2rem;
    color: black;
  }
}
.post-description{
  font-size: 1rem;
  min-width: 30%;
  max-width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.post-image-container{
  display: flex;
  align-items: center;

  svg{
    font-size: 1.2rem;
  }
}
.post-btn{
  margin-top: 1rem;
  width: 30%;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  margin: 1rem auto 0 auto;
  font-size: 1rem;
  font-weight: bold;

  &:hover{
    cursor: pointer;
  }
}