.add-post{
  width: 65%;
  max-width: 650px;
  margin: 0 auto;
}
.add-post-form{
  background-color: #fff;
  height: auto;
  margin: 2rem 0 1rem 0;
  border: solid rgb(196, 196, 196) 1px;
  border-radius: 10px;

  div{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  label{
    margin: 1rem 0 0.5rem 0;
    color: black;
    font-size: 1.1rem;
  }
  svg{
    font-size: 1.2rem;
    color: black;
  }
}
.post-form-description{
  font-size: 1rem;
  min-width: 30%;
  max-width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.post-form-image{
  display: flex;
  align-items: center;

  svg{
    font-size: 1.2rem;
  }
}
.post-btn{
  width: 30%;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  margin: 1rem auto 1.5rem auto;
  font-size: 1rem;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}

@media screen and (max-width: 992px){
  .add-post{
    width: 90%;
  }
}

@media screen and (max-width: 572px){
  .add-post{
    width: 100%;
  }
}