.add-comment-form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
  img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }
  input{
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    width: 65%;
    margin-right: 10px;
  }
  button{
    width: 20%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    &:hover{
      cursor: pointer;
    }
  }
}
.add-comment-error{
  text-align: center;
  margin: 10px auto 0 auto;
}