.register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    border: solid 1px black;
    padding: 50px;
    background-color: #03224c;
    gap: 1.5rem;

    .form-error{
      background-color: pink;
      padding: 20px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    h1{
      font-size: 3.5rem;
      margin-bottom: 20px;
      color: #fff;
    }
    .form-group{
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      gap: 0.5rem;

      label{
        display: block;
        color: #fff;
        font-size: 1.4rem;
      }
      input{
        padding: 0.4rem 0.5rem;
        border-radius: 10px;
        font-size: 1.2rem;
      }
      p{
        text-align: center;
        font-size: 1.2rem;
      }
    }
    button{
      font-size: 1.3rem;
      font-weight: bold;
      padding: 0.4rem;
      width: 100%;
      margin-top: 10px;
      background-color: #fff;
      border-radius: 30px;
      cursor: pointer;
    }
    span {
      font-size: 1.2rem;
      margin-top: 40px;
      width: 100%;
      color: #fff;
    }
    a{
      color: #fff;
    }
  }
}