.post-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: gray;
}

// Comments part
.comments{
  padding: 15px;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  
  .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    div{
      display: flex;
    }
  }
  .thumbs-up{
    font-size: 0.7rem;
    margin: 0 10px 0 0px;
    color: var(--WHITE);
    border-radius: 30px;
    background-color: rgb(99, 183, 235);
    padding: 0.3rem;
    cursor: pointer;
  }
}
.comments-container{
  display: flex;
  background-color: #fff;
  margin-bottom: 1rem;

  img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 30px;
  }
  div{
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 20px;
  }
  .author{
    color: var(--BLACK);
    font-weight: bold;
  }
  .comment{
    color: var(--BLACK);
  }
}
.comment-form{
  width: 100%;
  display: flex;
  justify-content: space-between;
    
  img{
    border-radius: 30px;
    width: 40px;
    margin-right: 10px;
  }
  input{
    padding: 10px;
    background-color: var(--LIGHT_GRAY);
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    width: 100%;
  }
  button{
    width: 28%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    &:hover{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 572px){
  .comments{
    padding-right: 5px;
    padding-left: 5px;
  }
  .comment-form{
    button{
      width: 50%;
    }
  }
}