.comments-container{
  display: flex;
  background-color: #fff;

  img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  div{
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 20px;
  }
  .author{
    color: black;
    font-weight: bold;
  }
  .comment{
    color: black;
  }
}