.comments{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments-container{
  display: flex;
  background-color: #fff;

  img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  div{
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 20px;
  }
  .author{
    color: black;
    font-weight: bold;
  }
  .comment{
    color: black;
  }
}
.add-comment{
  // display: flex;

  img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }
  form{
    width: 100%;
    display: flex;

    input{
      padding: 10px;
      background-color: #eaeaea;
      border-radius: 20px;
      border: none;
      font-size: 1rem;
      width: 75%;
      margin-right: 10px;
    }
    button{
      width: 20%;
      font-size: 1rem;
      &:hover{
        cursor: pointer;
      }
    }
  }
  p{
    text-align: center;
    margin-top: 10px;
  }
}