.post{
  height: auto;
  border-radius: 10px;
  margin: 1rem 0 2rem 0;
  width: 65%;
  max-width: 650px;
}
.post-card{
  overflow: hidden;
  border: solid rgb(196, 196, 196) 1px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.post-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  
  img{
    width: 100%;
    max-width: 650px;
    object-fit: cover;
  }
}
@media screen and (max-width: 992px){
  .post{
    width: 90%;
  }
}

@media screen and (max-width: 572px){
  .post{
    width: 100%;
  }
}