.nav{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--COLOR_TERTIARY);
  box-shadow: 1px 1px 4px 2px var(--COLOR_TERTIARY);
  
  .logo-container{
    width: 300px;
    margin-left: 20px;
    svg{
      width: 100%;
      fill: var(--WHITE);
    }
  }
  ul{
    display: flex;

    .nav-small-size{
      display: none;
    }
    li{
      list-style-type: none;
      margin: 0 20px 0 20px;

      a{
        color: var(--WHITE);
        font-size: 1.6rem;
        font-weight: bold;
        display: flex;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .nav{
    justify-content: space-between;

    .logo-container{
      display: block;
    }
    ul{
      display: flex;
      justify-content: flex-end;
      margin-right: 40px;

      .nav-full-size{
        display: none;
      }
      .nav-small-size{
        display: flex;
        color: #fff;

        p{
          display: none;
        }
        svg{
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 572px){
  .nav{
    justify-content: center;

    .logo-container{
      display: none;
    }
    ul{
      margin: 0;

      .nav-small-size{
        p{
          display: block;
          margin-right: 10px;
          font-size: 1.2em;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .nav{
    justify-content: center;
    ul{
      width: 100%;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 375px) {
  .nav{
    ul{
      .nav-small-size{
        p{
          display: none;
        }
      }
    }
  }
}