.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--LIGHT);

  .logo{
    width: 50%;
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    max-width: 1000px;
    border: solid 1px var(--BLACK);
    padding: 10px 20px 20px 20px;
    background-color: var(--COLOR_TERTIARY);
    gap: 1rem;

    h1{
      font-size: 3rem;
      color: var(--WHITE);
    }
    .form-group{
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      gap: 0.5rem;

      label{
        display: block;
        color: var(--WHITE);
        font-size: 1.4rem;
      }
      input{
        padding: 0.4rem 0.5rem;
        border-radius: 10px;
        font-size: 1.5rem;
      }
    }
    button{
      font-size: 1.3rem;
      font-weight: bold;
      padding: 0.4rem;
      width: 30%;
      margin-top: 10px;
      background-color: var(--WHITE);
      border-radius: 30px;
      cursor: pointer;
    }
    .register-link{
      color: var(--WHITE);
      width: 100%;
    }
    a{
      color: var(--WHITE);
    }
  }
}

@media screen and (min-width: 1440px){
  .login form{
    gap: 2rem;
  }
}

@media screen and (max-width: 992px){
  .login form{
    width: 65%;
  }
}

@media screen and (max-width: 768px){
  .login form{
    width: 90%;
  }
  .login .logo{
    width: 100%;
  }
}

@media screen and (max-width: 572px){
  .login .logo{
    display: none;
  } 
 .login form{
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
 }
 .login form button{
   width: 50%;
 }
}