.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    max-width: 1000px;
    border: solid 1px var(--BLACK);
    padding: 20px 50px;
    background-color: var(--COLOR_TERTIARY);
    gap: 1.5rem;

    h1{
      font-size: 3.5rem;
      color: #fff;
    }
    .form-group{
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      gap: 0.5rem;

      label{
        display: block;
        color: #fff;
        font-size: 1.4rem;
      }
      input{
        padding: 0.4rem 0.5rem;
        border-radius: 10px;
        font-size: 1.2rem;
      }
    }
    button{
      font-size: 1.3rem;
      font-weight: bold;
      padding: 0.4rem;
      width: 100%;
      margin-top: 10px;
      background-color: #fff;
      border-radius: 30px;
      cursor: pointer;
    }
    .register-link{
      color: #fff;
      width: 100%;
    }
    a{
      color: #fff;
    }
  }
}

@media screen and (min-width: 1440px){
  .login form{
    gap: 2rem;
    padding: 40px;
  }
}

@media screen and (max-width: 992px){
  .login form{
    width: 65%;
  }
}

@media screen and (max-width: 768px){
  .login form{
    width: 90%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 572px){
  .login form{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}